@page "/uploadfiles"
<h3>Upload Files</h3>
<div>
    <div style="margin: 10px;">
        <EditForm Model="uploadFiles" OnValidSubmit="SubmitForm">
            <div>
                <div>
                    <label>
                        Orders.csv:
                        <InputFile class="form-control" OnChange="LoadOrdersFile" accept=".csv" />
                    </label>
                </div>
                <div>
                    <label>
                        Machines.csv:
                        <InputFile class="form-control" OnChange="LoadMachinesFile" accept=".csv" />
                    </label>

                </div>
                <div>
                    <label>
                        Routings.csv:
                        <InputFile class="form-control" OnChange="LoadRoutingsFile" accept=".csv" />
                    </label>
                </div>
                <div>
                    <label>
                        MachineAvailability.csv:
                        <InputFile class="form-control" OnChange="LoadMachineAvailabilityFile" accept=".csv" />
                    </label>
                </div>
                <div>
                    <button class="btn btn-primary mt-3" type="submit">Upload Files</button>
                    <button class="btn btn-primary mt-3" type="button" @onclick="(()=>ResetForm())">Clear Files</button>
                </div>
            </div>
        </EditForm>
    </div>

    <div class="btn-group" style="margin: 10px;">
        <button class="btn btn-primary mx-2" type="button" @onclick="(()=>ShowOrders())">
            Show Uploaded Orders
        </button>
        <button class="btn btn-primary mx-2" type="button" @onclick="(()=>ShowMachines())">
            Show Uploaded Machines
        </button>
        <button class="btn btn-primary mx-2" type="button" @onclick="(()=>ShowRoutings())">
            Show Uploaded Routings
        </button>
        <button class="btn btn-primary mx-2" type="button" @onclick="(()=>ShowMA())">
            Show Uploaded Machine Availability
        </button>
    </div>
</div>

@if (errors.Count > 0)
{
    <h2>Errors</h2>
    <ul class="text-danger">
        @foreach (var error in errors)
        {
            <li>@error</li>
        }
    </ul>
}
@if (duplicatedEntries)
{
    <div>
        <h3 class="text-warning">Duplicated Entries</h3>
    </div>
    @if (isDupMachines)
    {
        <div class="row">
            <div>
                <h4 class="text-warning">Duplicated Machines</h4>
            </div>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Machine Id</th>
                            <th>Short name</th>
                            <th>Description</th>
                            <th>Effectivity</th>
                            <th>Machine Alternativity Group</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dm in duplicatedMachines)
                        {
                            <tr>
                                <td>@dm.Id</td>
                                <td>@dm.ShortName</td>
                                <td>@dm.Description</td>
                                <td>@dm.Effectivity</td>
                                <td>@dm.MachineAlternativityGroup</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    @if (isDupOrders)
    {
        <div class="row">
            <div>
                <h4 class="text-warning">Duplicated Orders</h4>
            </div>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Product Id</th>
                            <th>Deadline</th>
                            <th>Earliest Start Date</th>
                            <th>Order Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var o in duplicatedOrders)
                        {
                            <tr>
                                <td>@o.Id</td>
                                <td>@o.ProductId</td>
                                <td>@o.Deadline</td>
                                <td>@o.EarliestStartDate</td>
                                <td>@o.OrderDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    @if (isDupMA)
    {
        <div class="row">
            <div>
                <h4 class="text-warning">Duplicated Machine Availability</h4>
            </div>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Machine Id</th>
                            <th>Pause Start Date</th>
                            <th>Pause End Date</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in duplicatedMA)
                        {
                            <tr>
                                <td>@m.MachineId</td>
                                <td>@m.PauseStartDate</td>
                                <td>@m.PauseEndDate</td>
                                <td>@m.Description</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    @if (isDupRoutings)
    {
        <div class="row">
            <div>
                <h4 class="text-warning">Duplicated Routings</h4>
            </div>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product Id</th>
                            <th>Step Id</th>
                            <th>Machine Id</th>
                            <th>Setup Time In Seconds</th>
                            <th>Process Time In Seconds</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var r in duplicatedRoutings)
                        {
                            <tr>
                                <td>@r.ProductId</td>
                                <td>@r.StepId</td>
                                <td>@r.MachineId</td>
                                <td>@r.SetupTimeInSeconds</td>
                                <td>@r.ProcessTimeInSeconds</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

}
@if (uploadFail)
{
    <h3 class="text-danger">Uploading Failed</h3>
}
@if (uploading)
{
    <h3 class="text-warning">Uploading Files</h3>
}
@if (uploadSuccess)
{
    <h3 class="text-success">Upload Successfully</h3>
}
@if (showOrdersFile)
{
    <div class="row">
        <div>
            <h4 class="text-primary">Uploaded Orders</h4>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Product Id</th>
                        <th>Deadline</th>
                        <th>Earliest Start Date</th>
                        <th>Order Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var o in orders)
                    {
                        <tr>
                            <td>@o.Id</td>
                            <td>@o.ProductId</td>
                            <td>@o.Deadline</td>
                            <td>@o.EarliestStartDate</td>
                            <td>@o.OrderDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
@if (showMachinesFile)
{
    <div class="row">
        <div>
            <h4 class="text-primary">Uploaded Machines</h4>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Short Name</th>
                        <th>Description</th>
                        <th>Effectivity</th>
                        <th>Machine Alternativity Group</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in machines)
                    {
                        <tr>
                            <td>@m.Id</td>
                            <td>@m.ShortName</td>
                            <td>@m.Description</td>
                            <td>@m.Effectivity</td>
                            <td>@m.MachineAlternativityGroup</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
@if (showRoutingsFile)
{
    <div class="row">
        <div>
            <h4 class="text-primary">Uploaded Routings</h4>
        </div>
        <div>
            <h4 class="text-warning">Duplicated Routings</h4>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Product Id</th>
                        <th>Step Id</th>
                        <th>Machine Id</th>
                        <th>Setup Time In Seconds</th>
                        <th>Process Time In Seconds</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var r in routings)
                    {
                        <tr>
                            <td>@r.ProductId</td>
                            <td>@r.StepId</td>
                            <td>@r.MachineId</td>
                            <td>@r.SetupTimeInSeconds</td>
                            <td>@r.ProcessTimeInSeconds</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
@if (showMachineAvailabilityFile)
{
    <div class="row">
        <div>
            <h4 class="text-primary">Uploaded Machine Availability</h4>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Machine Id</th>
                        <th>Pause Start Date</th>
                        <th>Pause End Date</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in machineAvailabilites)
                    {
                        <tr>
                            <td>@m.MachineId</td>
                            <td>@m.PauseStartDate</td>
                            <td>@m.PauseEndDate</td>
                            <td>@m.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}




